html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}
@keyframes jumpingArrow{
    0%{ bottom: 0px; }
    100%{ bottom: 3vh}
}
body{
    color:white;
    overflow-x: hidden;
    background-color: #1b262c;
}
header{
    width: 100vw;
    height: 100vh;
    
}
.navbar{
    padding-top: 2vh;
    font-family: 'Quicksand', sans-serif;
}
.navbar ul{
    list-style-type: none;
}
li{
    float: left;
}
li a{
    display: inline;
    padding: 15px;
    text-decoration: none;
    color:white;
    font-size: 2em;
    transition: 0.3s;
}
.links{
    float: right;
    padding-right: 2vw;
}
li a:hover{
    color:gold;
    transition: 0.3s;   
}
.navbar li:first-child{
    padding-left: 5vw;
}
.bgDiv1{
    width: 30vw;
    height: 90vh;
    background-color: #00adb5;
    position: absolute;
    top:0px;
    z-index: -1;
    left: 20vw;
    filter: drop-shadow(5px 5px 5px black);
}
.topic{
    margin-top: 20vh;
    padding-left: 10vw;
    border-left: 8px solid #00adb5;
    font-family: 'Roboto', sans-serif;
}
.topic h1{
    font-size: 4em;
    filter: drop-shadow(5px 5px 5px black);
}
.topic h3{
    font-size: 2em;
    padding-left: 20px;
    filter: drop-shadow(5px 5px 5px black);
}
.description{
    width: 40vw;
    margin-left: 55vw;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.more{
    position: absolute;
    bottom: 3vh;
    width: 100vw;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.more a{
    font-size: 1.5em;
    cursor: pointer;
    color:white;
    text-decoration: none;
    transition: 0.3s;
    
}
i {
    border: solid white;
    border-width: 0 0.4em 0.4em 0;
    display: inline-block;
    padding: 0.4em;
    
  }
  .arrowDown {
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    animation: bounce 5s infinite;
    filter: drop-shadow(5px 5px 5px black);
  }
  .more a:hover:after{
      color:gold;
      transition: 0.3s;
      
  }
  .more a:hover > i{
    border: solid gold;
    border-width: 0 0.4em 0.4em 0;
    display: inline-block;
    padding: 0.4em;
    transition: 0.3s;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100%{
          bottom: 0;
      }
      40%{
          bottom: -1vh;
      }
      60%{
          bottom: -2.5vh;
      }
  }
 .skills{
     width: 100vw;
     height: 98vh;
     padding-top: 2vh;
     background-color: #393e46;
 }
 .h{
     padding-left: 3vw;
     border-left: 6px solid #00adb5;
     font-family: 'Roboto', sans-serif; 
     transition: 0.2s; 
     margin-left: 10px;
 }
 .h:hover{
     color: gold;
     transition: 0.2s;
 }
 .tech{
     padding-top: 2vh;
     text-align: center;
 }
.tech img{
    width: 20%;
    padding-left: 30px;
    filter: drop-shadow(5px 5px 5px #222);
    transition: 0.3s;
}
.tech img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
#projects{
    height: 98vh;
    width: 100vw;
    padding-top: 2vh;
}
.projects{
    display: flex;
    width: 80vw;
    padding-top: 10vh;
    margin: auto;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 5px #222);
}
.project{
    width: 25vw;
    text-align: center;
    height: 70vh;
    background-color: #05668D;
    filter: brightness(75%);
    transition: 0.5s;
    color: #02C39A;
    
}
.project:hover{
    filter: brightness(100%);
    transition: 0.5s;
}
.project img{
    width: 25vw;
}
.project div{
    height: 20vh;
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
div h2{
    font-family: 'Roboto', sans-serif; 
    font-size: 32px;
    padding-bottom: 10px;
}
.project button{
    bottom: 20px;
    border:none;
    background-color: none;
    padding: 7px;
    border-radius: 5px;
    margin-top: 3vh;
    color: white;
    filter: drop-shadow(5px 5px 5px #222);
    transition: 0.3s;
    font-weight: bold;
    color:#F0F3BD;
    font-family: 'Quicksand', sans-serif;
}
.demo{
    background-color: #028090;
    margin-right: 10px;
}
.source{
    background-color: #02C39A;
    margin-left: 10px;
}
.demo:hover{
    color:#028090;
    background: #F0F3BD;
    transition: 0.3s;
}
.source:hover{
    color:#02C39A;
    background: #F0F3BD;
    transition: 0.3s;
}
.stack{
    position: absolute;
    bottom:0px;
    padding-left: 15px;
    font-weight: bold;
    color:black;
    font-size: 18px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}
.contact{
    height: 65vh;
    width: 100vw;
    padding-top: 2vh;
    background-color: #393e46;
}
.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    clear: both;
    margin-top: 10vh;
}
.first{
    float: left;
    width: 40vw;
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif; 
    font-size: 22px;
}
.first img{
    width: 9vw;
    border-radius: 50%;
    margin-right: 15px;
}
.first div{
    flex-direction: column;
    
}
.first div img{
    width: 30px;
    border-radius: 0px;
    vertical-align: middle;
}
.first a{
    color:white;
    text-decoration: none;
    padding-left: 15px;
}
.first a:hover{
    text-decoration: underline;
}
.second{
    width: 40vw;
    font-family: 'Oswald', sans-serif;
}
.second p{width: 25vw;}
input{
    font-weight: bold;
    font-size: 20px;
    color:white;
}
input[type="text"]{
    width: 25vw;
    border: none;
    padding: 7px;
    background: none;
    border-bottom: 1px solid #00adb5;
    margin-bottom: 10px;
    outline: none;
}
input[type="email"]{
    width: 25vw;
    border: none;
    padding: 7px;
    background: none;
    border-bottom: 1px solid #00adb5;
    margin-bottom: 10px;
    outline: none;
}
textarea{
    width: 25vw;
    padding: 7px;
    background: none;
    font-weight: bold;
    font-size: 20px;
    color:white;
    overflow: hidden;
    resize: none;
    border:1px solid #00adb5;
    outline: none;
}
input[type=submit]{
    background: none;
    font-weight: unset;
    border:1px solid #00adb5;
    color:white;
    padding: 5px 15px 5px 15px;
    transition: 0.3s;
    font-size: 15px;
}
input[type=submit]:hover{
    background-color: #00adb5;
    transition: 0.3s;
    
}
footer{
    height: 15vh;
    background-color: #00adb5;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;

}
footer div{
    padding-top: 50px;
    font-size: 2em;
    margin-left: 15vw;
    margin-right: 15vw;
}
footer span{
    float:right;
}
footer a{
    color:white;
    text-decoration: none;
    transition: 0.3s;
}
footer a:hover{
    color:gold;
    transition: 0.3s;  
}
@media only screen and (max-width: 1400px) {
    .skills{
        height: 100%;
    }
    .tech img{
        width: 45vw;
    }
  }
  @media only screen and (max-width: 768px){
    .project{
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 35vh;
    }
    .projects{
        flex-direction: column;
        height: 100%;
    }
    .project div{
        height: 100%;
    }
    footer div{
        font-size: 1em;
    }
    .first{
        font-size: 15px;
    }
  }